{block content}

<ul n:foreach="$menu as $item">
    {if $iterator->first}
	<li><a href="{plink Page:default}">{$item->title}</a></li>
    {else}
    <li><a href="{plink Page:default $item->slug}">{$item->title}</a></li>
    {/if}
</ul>