<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{block #description}{/block}" />
        <meta name="keywords" content="{block #keywords}{/block}" />
        <meta name="author" content="jelinek-web.cz" />
        {*<meta name="robots" content="{$robots}" n:ifset="$robots" /> *}
        <meta name="copyright" content="(C) {= date('Y')} Jiří Jelínek" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        {* 2. TITLE *}
        <title>
            {block #title|striptags|trim}{/block}
            {if isset($title)} | {/if}{$mainTitle}
        </title>

        {* 3. FAVICON *} 
        <link rel="shortcut icon" href="{$basePath}/custom/images/favicon.ico" type="image/x-icon">

        {control css}
    </head>
    <body>
        <div class="container">
            <div id="header">
                <a n:href="Page:default"><h1>Empty CMS</h1></a>
            </div>
            {control menu}
            {block content} {/block}
        </div>
        {control js}
    </body>
</html>