{block content}
<div class="page-header">
	<h1>Přidání stránky</h1>
</div>

<div class="page-content">
	{control pageForm}
</div>
 
{/block}
{block scripts}
<script src="{$basePath}/ckeditor/ckeditor.js"></script>
<script src="{$basePath}/ckeditor/adapters/jquery.js"></script>
   
<script>
$(document).ready(function() {
  $('#frm-pageForm-body').ckeditor();

});
   
</script>
{/block}