{* Latte template *}

{block content}
<div class="page-header">
	<h1>Přidat odběratele</h1>
</div>

<div class="page-content">
    <a class="btn btn-primary no-radius pull-right" href="{link default}"><i class="ace-icon fa fa-backward bigger-230"></i><br>Zpět</a>

    <div class="col-md-6 col-sm12">
        {control subscriberForm}        
    </div>    
</div>