{block content}
<div class="page-header">
	<h1>Logistika</h1>
</div>

<div class="page-content">
<div class="btn-group" role="group" aria-label="...">
    <a href="#" class="btn btn-default">Odběratelé</a>
    <a href="#" class="btn btn-default">Balíky</a>
</div>

<a class="btn btn-primary no-radius pull-right" href="{link addSubscriber}"><i class="ace-icon fa fa-plus bigger-230"></i><br>Přidat odběratele</a>
<div class="col-sm-12">
    {control subscriberGrid}
</div>
</div>