{block content}
<div class="page-header">
<h1>Administrace článků</h1>
</div>

<div class="page-content">
    <div class="row">
        <a class="btn btn-primary no-radius pull-right" href="{plink article}"><i class="ace-icon fa fa-plus bigger-230"></i><br>Přidat článek</a>
    </div>
    
    {control articleGrid}
</div>